<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href = "{% static "Css/HomePage_Style.css" %}"/>
</head>
<body>
    <h1>Welcome to Consultadd Inc</h1>
    <br>
    <div id = "img_logo"><img src = "{% static "Images/Consultadd_Logo.png" %}" alt = "Image Not Found"></div>
    <h3> This the Web Hosting Assignment using HEROKU PLATFORM </h3>
    <div><p>Created By : Labhesh Lalka ( Software Engineer @Consultadd, Pune)</p></div>

</body>
</html> 